body{
  transition: all 0.2s ease-in-out;
}
li{
  list-style: none;
}
.first-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1919;
  width: 10%;
  border-radius: 20px;
}
.first-div > input{
  opacity: 0;
  position: relative;
  left: 25%;
}
.first-div::after{
  content: '';
  position: relative;
  left: 17px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.checked > input{
  left: -10%;
}

.checked::after{
  left: -38px;
}
.menu-burger{
  display: flex;
  flex-direction: column;
  align-items: end;
  transition: all 0.3 ease-out;
}

.menu-burger > span{
  width: 30px;
  height: 4px;
  background-color: #1c1919;
}
.menu-burger > span:not(span:last-child){
  margin-bottom: 4px;
}

.menu>span:nth-child(2){
  transform: rotate(45deg) translateX(-5px);
}
.menu>span:first-child{
  transform: rotate(-45deg) translateX(-5px);
}
.menu>span:last-child{
  display: none;
}

.second-div>div:first-child{
  width: 100px;
  height: 100px;
  background-color: #000000;
}
.second-div>div:last-child{
  width: 100px;
  height: 100px;
  background-color: #b22929;
  position: relative;
  top: -80px;
  left: 20px;
}

.second-div>div:last-child:hover{
  z-index: -1;
  transition: all 1s ease-in-out;
}

.third-div>div:first-child{
  width: 100px;
  height: 100px;
  background-color: #3a90aa;
}

.third-div>div:last-child{
  width: 100px;
  height: 100px;
  background-color: #dfd732;
  position: relative;
  top: -80px;
  left: 20px;
}
.third-div>div:last-child:hover{
  animation: box 5s ease-in 1s;
}

@keyframes box {
  0%{
    transform: translateX(120px);
  }
  25%{
    transform: translateY(150px);
  }
  50%{
    transform: scale(1.2);
  }
  75%{
    transform: scale(1);
  }
  100%{
    transform: translate(0px, 0px);
  }
}

img{
  margin-left: 40px;
  width: 100px;
  height: 100px;
  transform-origin: center top;
  animation: bell 2s ease-in-out 2s infinite;
}

@keyframes bell {
  0%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(-45deg);
  }
  100%{
    transform: rotate(45deg);
  }
}

.wrapper{
  border: 1px solid #ff8686;
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 900px;
  flex-wrap: wrap;
  align-content: space-between;
}
.wrapper > p{
  border: 1px solid #000;
}

.container-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}
.item{
  width: 100px;
  height: 100px;
  flex: 0 1 20%;
}
.item1 {
  background-color: #ff5858;
}
.item2 {
  flex: 1 1 auto;
  background-color: #35a857;
}
.item3 {
  background-color: #7b3778;
}